.app-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-color: $color-white;
    z-index: 1000;
    &__title {
        font-size: 2rem;
        color: orange;
        padding: 10px;
        cursor: pointer;
        letter-spacing: 0.3rem;
    }

    &__filter {
        font-size: 1.6rem;
        position: absolute;
        right: 5rem;
        top: 1.4rem;
        text-decoration: none;
        color: $default-font-color;
        font-weight: 500;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover {
            color: orange;
        }
    }
}