*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* setting root font-size to use rem units  1rem = root font size in this case (10px) */

html {
    /* set root font size in % so that if user changes default font-size root font-size will change accordingly  */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "lato" , sans-serif;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: $color-gray-dark;   
    // padding: 3rem;
}